{% extends "base.twig" %}
{% set body_class = 'journal-page' %}


{% block content %}
<div class="posts padded-top" data-posts-remaining="{{ posts_remaining }}" data-post-offset="3">
	{% for item in posts %}
		<section class="margined">
			<div class="container">
				{% include 'components/journal-thumb.twig' %}
			</div>
		</section>
	{% endfor %}
	<div id="posts-bottom"></div>
</div>


<!-- 
Endless loader is a progress bar kind of deal. Doesnt have to be real, but if the posts load immediatly, pass the span a 100% width and animated it.

Example here: http://www.instrument.com/latest/
-->

{% include 'components/endless-loader.twig' %}

{% endblock %}{# end content #}