.DS_Store
Thumbs.db
npm-debug.log
/node_modules
/wp-content/ai1wm-backups
/wp-content/uploads/backup
/wp-content/uploads/backupbuddy_backups
/wp-content/uploads/backupbuddy_temp
/wp-content/uploads/pb_backupbuddy