.DS_Store
Thumbs.db
npm-debug.log
/node_modules
/wp-content/themes/big-wave
/wp-content/themes/matt-gordils-20140517-2
/wp-content/cache
/wp-content/ai1wm-backups
/wp-content/plugins/simply-static/static-files