* {
	box-sizing-border: box;
	outline: none;
}

html,
body {
	background-color: $bg-color;
	transition: background $slow-speed $ease, color $slow-speed $ease;
}

#page {
	max-width: 100%;
	overflow: hidden;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

svg {
	color: currentcolor;
	* {
		transition: fill $md-speed $ease;
		fill: currentcolor;
	}
}

a {
	color: $main-color;
	text-decoration: none;
	cursor: pointer;
	transition: color $md-speed $ease, border $md-speed $ease, background $md-speed $ease, opacity $md-speed $ease;
	&:hover {
		color: darken($main-color, 20%);
	}
	&.thumb {
		display: block;
		&:hover {
			opacity: .8;
		}
	}
}

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  // width: $site-width;
  width: calc(100% - #{$mobile-margin} * 2);
  max-width: $max-site-width;
  @include respond($lg) {
    width: calc(100% - #{$margin} * 2);
  }
  &.narrow {
  	max-width: 35em;
  	h1,
  	.h1 {
  		max-width: 10em;
  		margin-left: auto;
  		margin-right: auto;
  	}
  }
  &.max-p-width {
		max-width: 1.5rem * 30;
	}
  &.wide {
  	width: 100%;
  	@include respond($md) {
  		max-width: calc(100% - #{$gutter} * 2);
  	}
  }
}
a {
	cursor: pointer;
}

section {
	position: relative;
	> .container {
		padding: $mobile-margin 0;
		@include respond($md) {
			padding: $margin 0;
		}
		&.extra-spaced {
			padding: 5rem 0;
			@include respond($md) {
				padding: 8rem 0;
			}
			@include respond($lg) {
				padding: 10rem 0;
			}
		}
	}
	&.full-height {
		min-height: 100vh;
	}
	&.margined {
		margin: $mobile-margin 0;
		@include respond($md) {
			margin: $margin 0;
		}
		.container {
			padding: 0;
			&.extra-spaced {
				padding: 2rem 0;
			}
		}
	}
	&.darkk {
		color: currentcolor;
		@include font-smooth();
		a {
			color: currentcolor;
			border-bottom: 1px solid rgba($bg-color, .3);
			&:hover {
				border-color: $bg-color;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			color: currentcolor;
		}
		.light-text-color {
			color: rgba(255, 255, 255, .4);
		}
		input[type='text'],
		input[type='email'],
		input[type='number'],
		input[type='password'],
		select {
			color: $bg-color;
			border-bottom: 1px solid rgba($bg-color, .4);
			background: transparent;
			padding-left: 0;
			padding-right: 2rem;
			&::-webkit-input-placeholder {
				color: rgba($bg-color, .6);
			}
			&:-moz-placeholder {
				color: rgba($bg-color, .6);
			}
			&::-moz-placeholder {
				color: rgba($bg-color, .6);
			}
			&:-ms-input-placeholder {
				color: rgba($bg-color, .6);
			}
			&:hover {
				border-color: rgba($bg-color, .6);
			}
			&:focus {
				border-color: $bg-color;
				&::-webkit-input-placeholder {
					color: $placeholder-focus-color;
				}
				&:-moz-placeholder {
					color: $placeholder-focus-color;
				}
				&::-moz-placeholder {
					color: $placeholder-focus-color;
				}
				&:-ms-input-placeholder {
				   color: $placeholder-focus-color;
				}
			}
		}
	}
}

a.thumbnail {
	display: block;
}

// Grid Adjustment
.inline-grid {
	@include respond-smaller-than($md) {
		*[class^="col-"],
		.col {
			margin-bottom: $mobile-margin;
		}
	}
}

// Flatten typography
*, h1, h2, h3, h4, h5, h6, p {
	font-size: 1.125rem;
	font-size: 1rem;
	line-height: $base-line-height;
	margin: 0;
	&.large-font-size,
	.large-font-size & {
		font-size: 1.4rem;
		line-height: $base-line-height;
	}
}