header {
	padding: ($margin * 1.4) 0;
	.intro {
		display: block;
		width: 100%;
	}
	.home-page & {
		min-height: 80vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.title {
		margin-bottom: 0;
	}
	.secondary-text {
		margin-top: .5em;
	}
	.container {
		&.narrow {
			max-width: 21rem;
		}
	}
}