<!DOCTYPE html>
<html>
  {% include 'partials/head.twig' %}
  <body class="{{ body_class }}">
    <div class="animsition">

      {% if page_title %}
        {% include 'partials/header.twig' with {
          'page_title' : page_title,
          'secondary_text' : secondary_text,
          'body_class' : body_class
        } %}
      {% else %}
        {% include 'partials/header.twig' %}
      {% endif %}
      
      <div id="page">
        {% block page %}
          <div id="content">
            {% block content %}
              
            {% endblock %}{# end content #}
          </div>
        {% endblock %}{# end page #}
      </div><!-- #page -->

      {% if footer != 'false' %}
        {% include 'partials/footer.twig' %}
      {% endif %}
    </div>
    {% include 'partials/foot.twig' %}
  </body>
</html>