{% extends "base.twig" %}

{% block content %}

	<section class="no-top-space">
		<div class="container">
			<div class="inline-grid project-grid no-break v-{% if hide_thumb_info != true %}wide-{%endif %}spaced center">
				{% for project in projects %}

					{% if project.size == 'third' %}
						{% set layout = 'col-4' %}
					{% elseif project.size == 'half' %}
						{% set layout = 'col-6' %}
					{% elseif project.size == 'two_thirds' %}
						{% set layout = 'col-8' %}
					{% elseif project.size == 'full_width' %}
						{% set layout = 'col-12' %}
					{% endif %}

					<!-- <div class="{{ layout }}"> -->
					<div class="col">
						{% include 'components/project-thumb.twig' with { 
							'item' : project,
							'layout' : layout,
							'hide_info' : hide_thumb_info
						} %}
					</div>

				{% endfor %}
			</div>
		</div>
	</section>

	{% include 'components/info-block.twig' %}
	
{% endblock %}{# end content #}