<header {% if style %}class="{{ style }}"{% endif %}>
	<div class="container">
		<div class="float-grid no-break">
			<div class="col-8">
				<div class="intro">
					<h1 class="large-font-size">
						{% if page_title %}
							{{ page_title }}
						{% else %}
							Matthew Gordils
						{% endif %}
					</h1>
					<h2 class="large-font-size light-text-color">
						{% if page_title %}
							{{ secondary_text }}
						{% else %}
							Design & front end development
						{% endif %}
					</h2>
				</div>
			</div>
			<div class="col-4 align-right">
				{% if 
					(body_class == 'home-page') or
					(body_class == 'projects-page')
				%}
					<a class="large-font-size light-text-color underlined" href="#info">Info</a>
				{% elseif (body_class == 'service-page') %}
					<a class="large-font-size light-text-color underlined transition-link" href="/portfolio">All Work</a>
				{% else %}
					<a class="large-font-size light-text-color underlined transition-link" href="/">Work</a>
				{% endif %}
				
			</div>
		</div>
	</div>
</header>