<header>
		<div class="intro align-center">
			<div class="container">
				<h1 class="header-style title">
					{% if page_title %}
						{{ page_title }}
					{% else %}
						Matthew Gordils
					{% endif %}
				</h1>
			</div>
			{% if page_title %}
				<div class="container narrow">
					<h2 class="secondary-text">
						{{ secondary_text }}
					</h2>
				</div>
			{% endif %}
			{% if body_class == 'service-page' %}
				<p class="tight-space-before"><a href="/portfolio" class="transition-link"><span class="material-icons">arrow_back</span> All Work</a></p>
			{% endif %}
		</div>
</header>