<section id="info" class="info-block">
  <div class="container narrow align-center">
    <h3 class="header-style">info</h3>
    <div class="large-font-size max-width">
      {{ get_field('Bio', 'options') }}
    </div>
  </div>
</section>