// General Layout Rules
.cols, .project {
  @include respond($sm) {
    margin: 0 (-$half-gutter);
    width: 100% + $gutter;
    overflow-y: hidden;
  }
}

.project li {
    padding: 0 0 7.5% 0;
  @include respond($sm) {
    float: left;
    padding: 0 $half-gutter $gutter;
  }
}

.half, 
.browser.half {
  @include respond($sm) {
    float: left;
    width: 50%;
    padding: 0 $half-gutter $gutter;
  }
}

.half + li.third {
  clear: left;
}

.third {
  @include respond($sm) {
    float: left;
    width: 33.33333%;
    padding: 0 $half-gutter $gutter;
  }
}

.quarter {
  @include respond($sm) {
    float: left;
    width: 25%;
    padding: 0 $half-gutter $gutter;
  }
}

.fifth {
  @include respond($sm) {
    float: left;
    width: 20%;
    padding: 0 $half-gutter $gutter;
  }
}

// Project Image Formats
li.browser {
  width: 100%;
}

li.browser div {
  padding: 7.5%;
  width: 100%;
  background-color: $project-bg;
}

li.browser div img {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding-top: 12px;
  @include border-radius(3px);
  @include box-shadow(0, 0, 10px, #e8e8e8);
  @include respond($sm) {
    padding-top: 24px;
    background-image: url(../images/browser-btns.png);
    background-image: url(../images/browser-btns.svg);
    background-repeat: no-repeat;
    background-position: 8px 8px;
  }
  @include respond($md) {
  }
  background-color: #ddd;
}

li.browser.half div img {
  padding-top: 12px;
  background-image: none;
}

li.poster {
  width: 100%; 
}

li.poster div {
  padding: 7.5%;
  background-color: #cdc5c2;
}

li.poster div img {
  @include box-shadow(0, 0, 7px, #bdb9b0);
  max-width: 700px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}


// Thumbnails
ul.thumbs {
  padding: 0 0 1px 0px;
  margin: 0px (-$grid-gutter) (-$grid-gutter);
  @include respond($md) {
    text-align: center;
    margin: 0px (-$grid-gutter/2) (-$grid-gutter);
  }
}

#home-thumbs {
  margin-top: -45px;
  padding-top: 45px;
  @include respond($sm) {
    margin-top: -55px;
    padding-top: 55px;
  }
}

.home ul.thumbs {
  padding: 8% 0 8%;
}

ul.thumbs {
  padding: 0 0 8%;
}

.other-projects ul.thumbs {
  padding: 0;
}

.home .other-projects ul.thumbs li {
  margin: 0;
}

.pushdown {
  padding: 8% 0;
}

ul.thumbs li {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 -2px;
  padding: 0 ($grid-gutter) $grid-gutter*2;
  width: 50%;
  @include respond ($md){
    width: 33.33333%;
    padding: 0 ($grid-gutter/2) $grid-gutter*3;
  }
}

ul.thumbs li a {
  display: block;
  position: relative
}

.thumb-wrap {
  //position: relative;
}

.thumb-wrap .hover-image {
  position: absolute;
  top: 0px;
  left: 0px;
  @include opacity(0);
}

ul.thumbs li a:hover img {
  @include opacity(1);
}

ul.thumbs.fourUp li {
  @include respond ($md){
    width: 25%;
    padding: 0 ($grid-gutter/2) $grid-gutter;
  }
}

.next-prev {
  padding: 2.25em 0 2em;
  @include respond($md) {
    padding: 2.75em 0 2.5em;
  }
  position: relative;
  border-top: 1px solid #eee;
}

.blk .next-prev {
  padding: 3.25em 0 1em;
  min-height: 7em;
  @include respond($md) {
    padding: 0;
    min-height: 7.5em;
  }
  position: relative;
  border-top: none;
}

.other-projects h2 {
  margin: 0;
  padding: 1.9em 0 1.7em;
}

.project-intro {
  overflow: hidden;
  padding-bottom: 1.35em;
  @include respond($sm) {
    padding-bottom: 2em;
  }
}

.project-intro p.services {
  color: $link-color;
  text-align: center;
  margin: 3px auto 0;
}

.project-desc p.services a {
  color: $text-color;
}

.project-desc p.services a:hover {
  color: $link-color;
}

.project-intro p.year {
  color: $link-color;
  text-align: center;
  display: none;
}

.project-intro h1 {
  margin-bottom: 0px;
}

.project-desc {
  margin: 0 auto;
  overflow: hidden;
  padding: 0em 0 3em;
  @include respond($md) {
    padding: 3em 0 5em;
  }
}

.project-desc p {
  @include respond($md) {
    float: left;
    width: 50%;
    margin-bottom: 0px;
  }
}

.project-desc .desc p {
  @include respond($md) {
    float: right;
    width: 50%;
    padding-left: 1%;
  }
}

@import 'waterfall';