@import 'avenir';

html, form, input { 
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{ 
  -webkit-text-size-adjust:none; 
  font-size: 93.75%;
  font-size:14px;
  line-height:1.5em;
  color: $text-color;
  font-weight: 500;
}

#tinymce {
  padding: 10px 20px;
  background-color: #f8f8f8;
}

// Dark Blocks
.blk {
  background-color: $text-color;
  color: $link-color;
}

.blk a:hover, .blk .active,
.blk .next a, .blk .prev a {
  color: $link-hover-alt;
}

.desktop {
  display: none;
  @include respond($md) {
    display: inline-block;
  }
}

p.services {
  color: $link-color;
}

/*----------------------------------------------------*/

::-moz-selection { background-color: $highlight-bg; color: $highlight-color; }

::-webkit-selection {	background-color: $highlight-bg; color: $highlight-color; }

::selection { background-color: $highlight-bg; color: $highlight-color; }


/*----------------------------------------------------*/

/*HTML Standard Elements*/
h1, h2, h3, h4, h5, h6{ line-height: 1.25em; }
small{ 
  display:block;
  font-size:.75em;
  letter-spacing:-.0em;
  margin:0 0 -.2em; 
  line-height:1.75em; 
  font-weight: 700;
}

h1{ 
  font-size:1.5em; 
  margin:1.4em 0 1.175em; 
  letter-spacing: -.02em; 
  font-weight: 100;
  text-align: center;
  @include respond($sm) {
    font-size: 1.75em;
  }
} 

h2{ 
  font-size:1.6em; 
  margin:.75em 0 .5em;
  letter-spacing: -.02em;
  font-weight: 100;
  text-align: center;
  line-height: 1.35em;
}

h1 + img, h2 + img {
  margin-top:1em;
}

h3{
  font-size:1.125em;
}

h4{
  font-weight:900; font-size:1em;
}

h5{
  font-weight:700; font-size:1em;
}

h6{
  font-weight:700; 
  font-size: 12px; 
  margin-bottom: 1.5em;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.thumbs h6 {
  display: none;
  font-size:1.1em; 
  text-transform: none; 
  letter-spacing: 0;
  @include respond($sm) {
    display: block; font-weight:500; font-size:1em; margin: 1.25em 0 0em; color: $text-color;
  }
}

.thumbs p {
  display: none;
  @include respond($sm) {
    display: block; font-weight:500; font-size:.85em; margin: .25em 0 0em; letter-spacing: .01em; color: $link-color;
  }
}

p, ul, ol, form{ margin:.5em 0 1.25em; }

ul{list-style-position:outside; line-height:1.5;}

ol{list-style-position:outside; list-style-type:decimal;}

a { 
  text-decoration: none; 
  color: $link-color; 
  @include transition ((color $speed ease-in-out, border $speed ease-in-out));
}
a:hover { 
  color: $link-hover-color;
}

a.project-link, .project-desc .desc p a {
  padding-bottom: 2px;
  border-bottom: 1px solid #ddd;
}

.project-desc .desc p a:hover,
a.project-link:hover {
  border-bottom: 1px solid #aaa;
}

nav .menu li a {
  border-bottom: none;
}

nav .menu li a:hover,
nav .menu li.menu-item-has-children:hover > a {
    color: $link-hover-color;
    border-bottom: none;
}

p {
  hyphenate: auto;
  hyphenate-before:2;
  hyphenate-after:3;
  hyphenate-lines: 3; orphans: 4;
  max-width: 800px;
  font-size: 1em;
}

.bio {
  font-size: 1.25em;
  letter-spacing: -.01em;
  line-height: 1.65em;
  padding: 5em 0;
}

.bio p {
  margin: 0 auto;
  max-width: 600px;
}

.bio p a {
  border-bottom: 1px solid #444;
  color: #ccc;
}

.bio p a:hover {
  border-bottom-color: #777;
}

blockquote {
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 1em 0;
  color: $text-color;
}

strong { font-weight: 700; }

hr {
  border-color: $hr-color;
  border-width: $hr-weight 0 0 0;
  border-style: solid;
  margin: 0;
}

/*Forms*/

input[type="text"],
input[type="password"],
textarea {
  background-image: none;
  background: #ccc;
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  padding: 12px 10px 8px 10px;
  width: 100%;
  margin: 0px 0 1em 0;
  font-family: 'Avenir',sans-serif;
  line-height: 1.2em;
  @include border-radius ();
  @include transition ((background $speed ease-in-out, border $speed));
  resize: none;
  vertical-align: top;
  -webkit-appearance: none;
	-moz-appearance: none;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
textarea:focus,
textarea:active {
  background: #ddd;
  border: 1px solid #ddd;
}

/*buttons*/

.btn,
input[type="submit"] {
  border: none;
  outline: none;
  display: block;
  text-align: center;
  background-image: none;
  -webkit-appearance: caret;
	-moz-appearance: caret; /* mobile firefox too! */
	-webkit-appearance: none;
  background-color: #272727;
  color: #dfdfdf;
  padding: 17px 15px 13px 15px;
  margin: 0px 0px 0px 0px;
  font-size: 1em;
  min-width: 200px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1em;
  @include border-radius ();
  @include transition ((border $speed ease-in-out, background $speed ease-in-out, color $speed ease-in-out));
  @include respond($sm) {
    max-width: 200px;
  }
}

.btn:hover,
input[type="submit"]:hover {
  color: #fff;
  background-color: #333;
}

/// Icons
.icon {
  height: 15px;
  width: 15px;
  position: relative;
  display: inline-block;
  background-color: $link-color;
  @include transition(background $speed);
}

a:hover .icon,
.active .icon {
  background-color: $link-hover-color;
}

.blk a:hover .icon,
.blk .active .icon {
  background-color: $link-hover-alt;
}

.icon .one,
.icon .two,
.icon .three,
.icon .four {
  display: block;
  position: absolute;
}

// Work Icon 
.work .icon {
  height: 14px;
  width: 14px;
  margin-left: 8px;
  margin-top: 2px;
  @include respond($sm) {
    margin-top: 0px;
  }
}

.work .icon .one {
  width: 2px;
  height: 14px;
  left: 6px;
  top: 0px;
  background-color: $text-color;
}

.work .icon .two {
  height: 2px;
  width: 14px;
  top: 6px;
  left: 0px;
  background-color: $text-color;
}

.work.view-all .icon .one,
.work.view-all .icon .two {
  background-color: $bg-color;
}

.blk .view-all .icon .one,
.blk .work.view-all .icon .two {
  background-color: $text-color;
}

.view-all .icon {
  @include respond($md) {
    display: none;
  }
  display: inline-block;
  margin: 0 0px 0 0;
}

.view-all .icon.block {
  display: block;
  margin: 12px auto 12px;
  @include respond($md) {
    margin-top: 6px;
  }  
}

// Info Icon 
.info > .icon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-bottom: -1px;
  @include border-radius(50%);
}

.info > .icon .one {
  width: 2px;
  height: 2px;
  left: 7px;
  top: 3px;
  background-color: $text-color;
}

.info > .icon .two {
  width: 2px;
  height: 6px;
  left: 7px;
  top: 7px;
  background-color: $text-color;
}


// Details
.next a:hover,
.prev a:hover, 
.next a,
.prev a { border: none; display: inline-block; }

.next a,
.prev a {
  @include opacity();
  @include transition(opacity $speed);
  color: $text-color;
}

header .next a,
header .prev a {
  color: #fff;
}

.next span.arrow,
.prev span.arrow {
  background-image: url(../images/arrows.png);
  background-image: url(../images/arrows.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 11px;
  background-position: 0 -11px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  vertical-align: middle;
}

.next-prev {
  font-size: 1.15em;
}

.next-prev .prev a > span.arrow {
  margin-top: -3px;
  margin-right: 5px;
}

.next-prev .next a > span.arrow {
  margin-top: -3px;
  margin-left: 5px;
}

.next-prev .next {
  float: right;
}

.view-all {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  top: 1.95em;
  @include respond($md) {
    top: 2.8em;
  }
}

.blk .view-all {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  top: 3.5em;
  @include respond($md) {
    top: 4.15em;
  }
}

.info-label {
  color: $link-color;
}

header .prev span.arrow,
.blk .next-prev .prev span.arrow {
  background-position: 0 0px;
  margin-top: -2px;
  margin-right: 7px;
}

header .next span.arrow,
.blk .next-prev .next span.arrow {
  background-position: -31px 0px;
  margin-top: -2px;
  margin-left: 7px;
}

.next span.arrow {
  background-position: -31px -11px;
}

.prev a:hover span.arrow,
.next a:hover span.arrow { 
  @include opacity(1);
}

.prev a:hover,
.next a:hover { 
  @include opacity(1);
}

.waterfall article div.post-card { font-size: 13px; }
.waterfall article div.post-card p { margin-bottom: 0px; }

@media only screen and (min-width:550px){
  body { font-size: 15px; line-height:1.75em; }
  p { font-size: 1em; }
}