/// Colors
$bg-color : #ffffff;
$project-bg : #eeeeee;

// Text Colors
$text-color : #1d1d1d;
$hr-color : #333;
$hr-weight : 1px;

// Highlights
$highlight-bg : #000;
$highlight-color : #fff;

// Links
$link-color : #999;
$link-hover-color : #1d1d1d;
$link-hover-alt : #fff;
$dropdown-color : #eee;

/// Grid Settings
$gutter : 2%;
$grid-gutter: $gutter;
$half-gutter : $gutter / 2;

/// Breakpoints
$sm : 550;
$md : 800;
$lg : 950;
$xlg : 1200;

/// Transitions
$speed : .15s;