@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html { 
  background-image: url(../images/page-loader-dark.gif);
  background-size: auto 20px;
  //background-image: url(../images/logo-loader1.gif);
  //background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  max-height: 100%;
  background-color: #1d1d1d;
}

body {
	background-color: $bg-color;
	min-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden; 
  //@include opacity(0);
  @include fadeIn (.5s);
}

.no-js body {
  @include opacity(1);
}

.seo-only {
  display: none;
}

body.fadeIn {
  @include fadeIn (.5s);
  @include opacity(1);
}

body.fadeOut {
  @include fadeOut (.5s);
}

#content {
  padding-top: 45px;
  min-height: 600px;
  @include respond($sm) {
    padding-top: 55px;
  }
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 87%;
  position: relative;
  overflow: hidden;
}

// Header
header {
  padding: 0;
  height: 45px;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 9000;
  @include respond($sm) {
    height: 55px;
  }
}

.home header {
  display: none;
}

.home #content {
  padding-top: 0;
}

hr.top {
  position: absolute;
  width: 100%;
  top: 45px;
  margin: 0px;
  border-color: #fff;
  @include opacity(.15);
  @include respond($sm) {
    top: 55px;
  }
}

header h1 {
  margin: 0 auto;
  width: 33px;
  padding-top: 9px;
  @include respond($sm) {
    padding-top: 10px;
    width: 46px;
  }
}

.menu li .sub-menu {
  display: none;
}

header img.logo {
  width: 33px;
  margin: 0 auto;
  -webkit-transform: none;
  @include respond($sm) {
    width: 42px;
  }
}

.intro {
  padding: 47px 0 50px;
  @include respond($sm) {
    padding: 65px 0 65px;
  }
}

.intro h1 {
  font-size: 12px;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  width: auto;
  color: $link-hover-alt;
}

.intro .logo {
  margin: 20px auto 0;
  width: 42px;
  @include respond($sm) {
    width: 42px;
  }
}

.intro .separator {
  width: 40px;
  height: 1px;
  margin: 15px auto;
  display: block;
  background-color: $link-color;
  @include respond($sm) {
    margin: 20px auto;
  }
}

.intro h2 { 
  max-width: 280px;
  margin: 0 auto;
  color: $link-hover-alt;
}

header .work {
  position: absolute;
  top: 14px;
  right: 0px;
  font-size: 16px; 
  @include respond($sm) {
    top: 17px;
    font-size: 17px; 
  }
}

header .info {
  position: absolute;
  top: 14px;
  left: 0px;
  font-size: 16px; 
  @include respond($sm) {
    top: 17px;
    font-size: 17px; 
  }
}

header .info .text,
header .work .text {
  display: none;
  @include respond ($sm) {
    display: inline;
  }
}

header .next a,
header .prev a {
  padding: 19px 0;
  @include respond($sm) {
    padding: 25px 0 21px;
  }
  @include respond($md) {
    padding: 19px 0 25px;
  }
}

header .next,
header .prev {
  position: absolute;
  top: 0px;
  @include respond($md) {
    margin-top: -2px;
  }
}

header .next {
  right: 0;
  @include respond($sm) {
    margin-right: 0;
  }
}

header .prev {
  left: 0;
  @include respond($sm) {
    margin-left: 0;
  }
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
  @include transition (opacity $speed);
  //-webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  border: none;
  outline: none;
}

@include respond($sm) {
  // Navigation
  
  nav .menu > li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    @include transition ();
    background: transparent;
  }
  
  nav .menu > li.last-child a {
    padding-right: 0px; /*edit*/
  }
  
  nav .menu > li.first-child a,
  nav .menu > li:first-child a {
    padding-left: 0px; /*edit*/
  }
  
  nav .menu li.last-child a,
  nav .menu li:last-child a,
  nav .menu li.last-child,
  nav .menu li:last-child {
    padding-right: 0px;
    margin-right: 0px;
  }
  
  nav .menu li a {
    border: none;
    padding: 15px 15px 8px 15px; /*edit*/
    display: block;
  }
  
  // Dropdown
  nav .menu li.menu-item-has-children:hover {
    background-color: $dropdown-color;
    z-index: 9999;
  }
  
  .menu li .sub-menu {
    display: block;
    visibility: hidden;
    @include transition ();
    @include opacity (0);
    position: absolute;
    top: 45px;
    width: 200px;
    background-color: $dropdown-color;
    margin: 0px;
    z-index: 9999;
    padding: 10px 0px;
  }
  
  nav .menu li.menu-item-has-children:hover > .sub-menu,
  .menu li.open .sub-menu {
    visibility: visible;
    @include opacity (1);
  }
  
  nav .menu .sub-menu li a {
    border: none;
    padding: 10px 15px 5px; /*edit*/
    display: block;
    @include transition (background $speed);
  }
  nav .menu .sub-menu li a:hover {
    background-color: blue;
    color: #fff;
  }
}


// Responsive Videos
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
  background: blue;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// Image Links
a:hover img {
  @include opacity ();
  border: none;
  outline: none;
}

// Footer
footer{
  padding: 4em 0 5%;
  @include respond($md) {
    padding: 4em 0 5%;
    text-algin: center;
  }
}

footer .container {
  border-top: 1px solid #333;
  overflow-y: hidden;
  padding-top: 15px;
}

footer .container > div {
  margin-bottom: 7px;
  @include respond($sm) {
    float: left;
  }
}

footer .left {
  display: none;
  @include respond($md) {
    display: block;
    width: 25%;
  }
}

footer .middle {
  width: 100%;
  text-align: center;
  @include respond($sm) {
    width: 70%;
    text-align: left;
  }
  @include respond($md) {
    width: 50%;
    text-align: center;
  }
}

footer .right {
  width: 100%;
  text-align: center;
  @include respond($sm) {
    width: 30%;
    text-align: right;
  }
  @include respond($md) {
    width: 25%;
  }
}

// Social
.social ul {
  margin: 0px -5px;
}

.social.list ul {
  margin: .5em 0 1.25em
}

.social.list li {
  display: block;
  margin: 0px;
}

.social li {
  display: inline-block;
}

.social li a {
  padding: 5px;
  display: block;
  border: none;
}

.social.list li a {
  padding: 0px 0px 5px;
}

.social li a img {
  background: transparent;
  height: 15px;
  width: auto;
  display: inline-block;
  @include opacity (.5);
}

.social.list li a img {
  margin-bottom: -2px;
  margin-right: 5px;
}

.social li a:hover img {
  @include opacity (1);
}

@import 'layout';