<section class="large-text-block margined">
	<div class="container extra-spaced">
		<div class="medium">
			{{ block.text }}	
		</div>
		{% if block.show_tags %}
			<p class="light-text-color">{{ post.tags | join(', ') }}</p>
		{% endif %}
	</div>
</section>