{% set full_width_image = TimberImage(block.image) %}
<section class="clipped-section">
	<div class="clip">
		{% include 'partials/header.twig' with { 'logo': 'false', 'style': 'inverted' } %}
	</div>
	<img src="{{ full_width_image.src | resize(1000)}}" srcset="{{ full_width_image.src | resize(2000)}} 1000w" alt="{{ block.image | alt}}">
	{% if full_width_image.post_excerpt %}
		<div class="caption-container">
			<div class="container">
				<p class="caption">{{ full_width_image.post_excerpt }}</p>
			</div>
		</div>
	{% endif %}
</section>