@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes transition-in {
	100% {
		opacity: 1;
		visibility: visible;
		transform: none;
	}
}

header,
#page {
	opacity: 0;
	transform: translate3d(0, 3rem, 0);
}

*:not(.fade-in) {
	header,
	#page {
		animation: transition-in $slow-speed .2s $ease forwards;
	}
	#page {
		animation-delay: .3s;
	}
}

.lazy-wrap {
	background: lighten(black, 11%);
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 0;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		opacity: 0;
		transition: opacity $md-speed $ease;
		&.lazyloaded {
			opacity: 1;
		}
	}
}