@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Akzidenz';
  src:  url('/assets/fonts/akzidenz/AkzidenzGrotesk-Regular.woff') format('woff'),
        url('/assets/fonts/akzidenz/AkzidenzGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz Extended';
  src:  url('/assets/fonts/akzidenz/AkzidenzGrotesk-BoldExtended.woff') format('woff'),
        url('/assets/fonts/akzidenz/AkzidenzGrotesk-BoldExtended.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.material-icons {
  @include material-icons-style();
  &.md-12 { font-size: 12px; line-height: 12px; }
  &.md-18 { font-size: 18px; line-height: 18px; }
	&.md-24 { font-size: 24px; line-height: 24px; }
	&.md-36 { font-size: 36px; line-height: 36px; }
	&.md-48 { font-size: 48px; line-height: 48px; }
}

