.space-after {
	margin-bottom: $gutter;
}

.tight-space-after {
	margin-bottom: $tight-gutter;
}

.wide-space-after {
	margin-bottom: $margin;
}

.space-before {
	margin-top: $gutter;
}

.tight-space-before {
	margin-top: $tight-gutter;
}

.wide-space-before {
	margin-top: $margin;
}

.space-right {
	margin-right: $gutter;
}

.tight-space-right {
	margin-right: $tight-gutter;
}

.wide-space-right {
	margin-right: $margin;
}

.space-left {
	margin-left: $gutter;
}

.tight-space-left {
	margin-left: $tight-gutter;
}

.wide-space-left {
	margin-left: $margin;
}