{# {{ function('wp_footer') }} #}

<div class="ht-loader"><video class="cover" autoplay loop muted playsinline poster="{{ td }}/assets/video/ht-loader.png"><source src="{{ td }}/assets/video/ht-loader.mp4" type="video/mp4"></video></div>

<script type="text/javascript" src="{{ td }}/assets/js/main.js"></script>