<header {% if style %}class="{{ style }}"{% endif %}>
	<div class="container">
		<a href="/" class="transition-link icon hang-left" title="{{ globals.siteTitle }}">
			<div>{% include 'icons/ht-tree.svg' %}</div>
		</a>
		
		{% if logo == 'false' %}
		{% else %}
			<div class="logo">
				<a href="/work" class="transition-link" title="{{ globals.siteTitle }}">
					{% include 'icons/ht-wordmark.svg' %}
				</a>
			</div>
		{% endif %}
		
		<a class="hang-right menu-toggle" title="Menu">
			<div>{% include 'icons/ht-menu.svg' %}</div>
		</a>
	</div>

</header>